.intro{
    background-color: white;
    display: flex;
}

.introLeft{
    flex: 0.5;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.introRight{
    flex: 0.5;
}

.imgContainer{
    width: 700px;
    height: 700px;
    overflow: hidden;
    background-color: crimson;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: left;
    border-radius: 50%;
}

img{
    height: 90%;
}

.introWrapper{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 60px;
    margin: 10px 0;
}

h2{
font-size: 35px;
}

h3{
    font-size: 30px;
}

.arrowContainer{
    position: absolute;
    bottom: 10px;
}

.arrow{
    width: 30px;
    left: 50%;
    animation: arrowBlink 2s infinite;
}

@keyframes arrowBlink {
    100%{
        opacity: 0;
    }
}

 
@media (max-width: 768px){

    .intro{
        flex-direction: column;
        align-items: center;
    }

    img{
        height: 50%;
    }

    .imgContainer{
        align-items: flex-start;
    }
    
    .introWrapper{
        padding-left: 0;
        align-items: center;
    }

    h1{
        font-size: 40px;
    }

    h3{
        font-size: 20px;
    }

    .arrow{
        margin-left: 110px;
    }
}